﻿﻿@model List<AcunMedyaRestaurantly.Entities.Reservation>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Rezervasyonlar</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Ad - Soyad</th>
                                    <th>E-Posta</th>
                                    <th>Telefon</th>
                                    <th>Tarih</th>
                                    <th>Kişi Sayısı</th>
                                    <th>Rezervasyon Durumu</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.ReservationDate</td>
                                        <td>@item.GuestCount</td>
                                        <td>
                                            @if (item.ReservationStatus == "Onay Bekliyor")
                                            {
                                                <span class="badge badge-warning"><i class="fa fa-circle-o text-warning mr-2"></i> Onay Bekliyor</span>
                                            }
                                            else if (item.ReservationStatus == "Onaylandı")
                                            {
                                                <span class="badge badge-success"><i class="fa fa-circle-o text-success mr-2"></i> Onaylandı</span>
                                            }
                                            else if (item.ReservationStatus == "İptal Edildi")
                                            {
                                                <span class="badge badge-danger"><i class="fa fa-circle-o text-danger mr-2"></i> Reddedildi</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>