﻿@model List<AcunMedyaRestaurantly.Entities.Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Menü  kullanıcı adı = @ViewBag.username</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">

        <!-- /# column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Kategori Listi</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Yemek Adı</th>
                                    <th>Açıklama</th>
                                    <th>Fiyat</th>
                                    <th>Kategori</th>
                                    <th>Resim</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Price</td>
                                        <td>@item.Category.CategoryName</td>
                                        <td><img src="@item.ImageUrl" style="widht:100px; height:100px" /></td>

                                        <td>
                                            <a href="/Product/ProductDelete/@item.ProductId" class="btn btn-danger">
                                                <i class="fa fa-close color-muted m-r-5"></i>
                                                Sil
                                            </a>
                                        </td>
                                        <td><a href="/Product/ProductEdit/@item.ProductId" class="btn btn-info gradient-2"><i class="fa fa-edit color-muted m-r-5"></i> Güncelle</a></td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a href="/Product/ProductCreate" class="btn btn-success">Kategori Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->

    </div>
</div>
<!-- #/ container -->