﻿@model List<AcunMedyaRestaurantly.Entities.Adress>
@{
    ViewBag.Title = "AdressList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Adresler</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">

        <!-- /# column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Adresler</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adres</th>
                                    <th>Çalışma Saatleri</th>
                                    <th>E-Posta</th>
                                    <th>Telefon</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <th>@item.Location</th>
                                        <th>@item.OpenHours</th>
                                        <th>@item.Email</th>
                                        <th>@item.Call</th>
                                        <td><a href="/Adress/AdressDelete/@item.AdressId" class="btn btn-danger"><i class="fa fa-close color-muted m-r-5"></i> Sil</a></td>
                                        <td><a href="/Adress/AdressEdit/@item.AdressId" class="btn btn-info gradient-1">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Adress/AdressCreate/" class="btn btn-success">Adres Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->

    </div>
</div>